body {
	color: #000;
	line-height: 1.6;
	margin: 0;
	font-family: 'Nunito', sans-serif;
	font-size: 24px;
	background: #f4f4f4;
	font-weight: normal;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

/* Container */
.container {
	max-width: 1920px;
}

/* Header */
.header {
	position: relative;

	top: 0;
	left: 0;
	right: 0;
	background-color: #1c1c1c;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	margin: 0 30px;
}

.header__logo {
	color: #fff;
	font-size: 28px;
	font-weight: bold;
	padding: 5px 0;
	line-height: 1.3;
}

.header__logo:hover {
    text-decoration: none;
    color: #fff;
}

.header__menu {
	display: flex;
}

.header__link {
	color: #f4ebeb;
	font-size: 20px;
	display: inline-block;
	line-height: 2;
	padding: 5px 0;
	opacity: 0.8;
	transition: 0.3s all;
}

.header__link:hover {
	text-decoration: none;
    color: #fff;
    opacity: 1;
}

.menu-element {
    height: 100%;
    margin-left: 40px;
}

.calling {
	background-color: #426376;
	width: 100%;
	padding: 5px 30px;
	right: 0;
	opacity: 1;
}

.calling:hover {
	opacity: 1;
	background-color: #53afff;
}

/* Intro */
.intro {
	position: relative;
	width: 100vw;
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;

	background: url(../img/intro/introbg.png) top no-repeat;
	background-size: 100%;
}

.intro__inner {
	margin-left: 10%;
}

.intro__title {
	color: #fff;
	font-weight: bold;
	font-size: 90px;
}

.intro__subtitle {
	color: #fff;
	margin-bottom: 30px;
	font-size: 36px;
}

.intro__btn {
	background-color: #ff0000;
	padding: 5px 50px;
	border: 2px solid #ff0000;
	border-radius: 25px;
	color: #fff;
	transition: 0.3s all;
}

.intro__btn:hover {
	background-color: #fff;
	color: #000;
	border: 3px solid #fff;
}

.normal {
	background: none;
	border: 3px solid #fff;
	margin-left: 40px;
}

/* Section */
.section {
	padding: 30px 9%;
}

.section__inner {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}

.section__item {
	width: 33.3333%;
	margin-left: 50px;
}

.section__item:first-child {
	margin-left: 0;
}

.section__img {
	width: 100%;
	margin: 5px;
	background: #f4f4f4;
}

.section__title {
	font-size: 29px;
	line-height: 2;
	white-space: nowrap;
}

.section__subtitle {
	font-size: 24px;
	line-height: 1.3;
}

.section__img-hover {
	transition: 0.2s box-shadow;
}

.section__img-hover:hover {
    box-shadow: 7px 7px 5px rgba(0,0,0,0.2);
    border-radius: 40px;
}

.section__maintitle {
	font-weight: 500;
	font-size: 36px;
	color: #000;
	text-align: center;
	padding: 30px 0 80px 0;
	white-space: nowrap;
}

.first {
	margin-left: 20%;
}

.center {
	text-align: center;
}

.last {
	text-align: right;
	margin-right: 20%;
}

.align {
	text-align: right;
}

.margin {
	margin-top: 5%;
}

.section__bg {
	position: relative;

	background: url(../img/section-3/bg.png) center no-repeat;
	background-size: 80%;
}

.section__new {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__title-main {
	font-size: 72px;
	font-weight: bold;
	color: #fff;
	text-align: left;
	margin-top: 3%;
	margin-left: 25%;
	padding-bottom: 35px;
}

.normal-black {
	margin-left: 20%;
	background: none;
	border: 2px solid #000;
}

.orange {
	margin-top: 100px;
	background: #f56e32;
}

.title-black {
	color: #f4f4f4;
	font-weight: bold;
	font-size: 71px;

	padding-bottom: 5%;
}

.section__mainsubtitle {
	font-size: 60px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	padding-bottom: 5%;
	white-space: nowrap;
}

.sec-calling {
	margin-left: 20px;
	margin-bottom: 10px;
	width: 10%;
}

.white {
	color: #fff;
	transition: 0.3s;
}

.white:hover {
	color: #fff;
	text-decoration: none;
}

.flex {
	display: flex;
}

.subtitle-bold {
	font-weight: bold;
	color: #fff;
}

.top {
	margin-top: 50px;
}

.section__text {
	font-size: 30px;
}

.section__title-bold {
	font-weight: bold;
	font-size: 49px;
	margin: 50px 0;
}

/* Grid */
.item-6 {
	width: 60%;
}

.item-6 {
	width: 40%;
}

.item_6 {
	width: 100%;
}

.disable {
	display: none;
}

.footer__link {
	color: #fff;
}


/* Responsive */
@media screen and (max-width: 2560px) {
	.container {
		max-width: 2560px;
	}

	.intro {
		height: 100vh;
	}
}

@media screen and (max-width: 1920px) {
	.container {
		max-width: 1920px;
	}

	.intro {
		height: 70vh;
	}
}

@media screen and (max-width: 1560px) {
	.container {
		max-width: 1560px;
	}
}

@media screen and (max-width: 1280px) {
	.container {
		max-width: 1280px;
	}

	.section__title {
	    font-size: 26px;
    }

    .section__subtitle {
	    font-size: 22px;
    }

    .intro__title {
		font-size: 60px;
	}

    .intro__subtitle {
        font-size: 23px;
    }

    .intro__btn {
    	font-size: 20px;
    }

    .normal {
    	margin-left: 30px;
    }

    .section__title-main {
    	font-size: 60px;
    }

    .section__text {
    	font-size: 20px;
    }

    .section__title-bold {
    	font-size: 40px;
    	margin: 30px 0;
    }
}

@media screen and (max-width: 1080px) {
	.container {
		max-width: 1080px;
	}

	.intro__title {
		font-size: 70px;
	}

    .intro__subtitle {
        font-size: 30px;
    }

    .section__title {
	    font-size: 23px;
    }

    .section__subtitle {
	    font-size: 20px;
    }

    .section__title-main {
    	font-size: 50px;
    }

    .title-black {
    	font-size: 60px;
    }

    .section__mainsubtitle {
    	font-size: 50px;
    }

    .sec-calling {
    	width: 10%;
    }

    .section__text {
    	font-size: 18px;
    }

    .section__title-bold {
    	font-size: 40px;
    	margin: 25px 0;
    }
}

@media screen and (max-width: 960px) {
	.container {
		max-width: 960px;
	}

	.intro__title {
		font-size: 60px;
	}

    .intro__subtitle {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .intro__btn {
    	padding: 5px 30px;
    }

    .normal {
    	margin-left: 15px;
    }

    .section__title {
	    font-size: 20px;
    }

    .section__subtitle {
	    font-size: 17px;
    }

    .section__title-main {
    	font-size: 40px;
    	padding-bottom: 20px;
    }

    .intro__btn {
    	font-size: 15px;
    }

    .title-black {
    	font-size: 40px;
    }

    .section__mainsubtitle {
    	font-size: 40px;
    }

    .section__text {
    	font-size: 15px;
    }

    .section__title-bold {
    	font-size: 35px;
    	margin: 20px 0;
    }
}

@media screen and (max-width: 760px) {
	.container {
		max-width: 760px;
	}

	.intro {
		height: 30vh;
	}

	.intro__title {
		font-size: 40px;
	}

    .intro__subtitle {
        font-size: 16px;
    }

    .intro__btn {
    	padding: 5px 15px;
    }

    .section__inner {
    	flex-wrap: wrap;
    }

    .section__item {
    	width: 100%;
    }

    .section__item:first-child {
    	margin-left: 40px;
    }

    .item-6 {
    	width: 100vw;
    }

    .disable {
	    display: block;
    }

    .active {
    	display: none;
    }

    .section__item {
        margin-top: 50px;
    }

    .first {
    	margin-left: 25%;
    }

    .section__title-main {
    	font-size: 20px;
    	padding-bottom: 0;
    }

    .intro__btn {
    	font-size: 8px;
    }

    .normal {
    	border: 1px solid #fff;
    }

    .normal-black {
    	border: 1px solid #000;
    }

    .title-black {
    	font-size: 35px;
    }

    .section__mainsubtitle {
    	margin-top: 10px;
    	font-size: 25px;
    }

    .top {
    	display: none;
    }

    .flex {
    	margin-left: 0;
    }

    .flex:first-child {
    	margin-left: 0;
    }

    .section__text {
    	font-size: 12px;
    }

    .section__title-bold {
    	font-size: 25px;
    	margin: 15px 0;
    }
}

@media screen and (max-width: 480px) {
	.container {
		max-width: 480px;
	}

	.intro__btn {
		font-size: 5px;
	}

	.intro__title {
		font-size: 40px;
	}

    .section__title {
	    font-size: 12px;
    }

    .section__subtitle {
	    font-size: 8px;
    }

    .section__title-main {
    	font-size: 10px;
    }

    .title-black {
    	font-size: 25px;
    }

    .section__mainsubtitle {
    	font-size: 15px;
    }
}

@media screen and (max-width: 360px) {
	.container {
		max-width: 360px;
	}

	.intro__title {
		font-size: 30px;
	}

    .intro__subtitle {
        font-size: 10px;
    }

    .intro__btn {
    	padding: 5px 10px;
    	font-size: 14px;
    	border: 1px solid #ff0000;
    }

    .normal {
    	border: 1px solid #fff;
    }

    .section__title-main {
    	font-size: 15px;
    }

    .title-black {
    	font-size: 10px;
    }

    .section__mainsubtitle {
    	font-size: 5px;
    }
}

@media screen and (max-width: 160px) {
	.container {
		max-width: 160px;
	}

	.intro__title {
		font-size: 20px;
	}

    .intro__subtitle {
        font-size: 4px;
    }

    .intro__btn {
    	font-size: 10px;
    }

    .section__title-main {
    	font-size: 0px;
    }
}